<div class="page">
  <div class="card">
    <h2>Change Password</h2>

    <form (ngSubmit)="onSubmit()">

      <label>Current Password</label>
      <input
        type="password"
        [(ngModel)]="currentPassword"
        name="currentPassword"
        required
      />

      <label>New Password</label>
   <input
  type="password"
  [(ngModel)]="newPassword"
  name="newPassword"
  required
  minlength="12"
  #newPasswordModel="ngModel"
/>
<div class="error"
     *ngIf="newPasswordModel.invalid && newPasswordModel.touched">

  <div *ngIf="newPasswordModel.errors?.['required']">
    New password is required
  </div>

  <div *ngIf="newPasswordModel.errors?.['minlength']">
    Minimum 12 characters required
  </div>

</div>

      <label>Confirm New Password</label>
      <input
        type="password"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
      />

      <button type="submit" [disabled]="loading">
        {{ loading ? 'Updating...' : 'Change Password' }}
      </button>

      <div class="success" *ngIf="successMessage">
        {{ successMessage }}
      </div>

      <div class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

    </form>
  </div>
</div>
