html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background: #f2f7ff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.page {
  min-height: calc(100vh - 64px);
  /* padding: 24px 16px; */
  box-sizing: border-box;
  background: radial-gradient(
      circle at 10% 10%,
      rgba(76, 201, 240, 0.18),
      transparent
    ),
    radial-gradient(
      circle at 90% 20%,
      rgba(124, 58, 237, 0.18),
      transparent
    ),
    #f2f7ff;
}
