.hero {
  min-height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;

  background:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
   url('https://images.unsplash.com/photo-1600586363978-e520de02cdaa?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZmxpZ2h0JTIwaG9tZXxlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.content {
  max-width: 720px;
  text-align: center;
}

.content h1 {
  font-size: 65px;
  margin-bottom: 16px;
  color: #f1f1f1;
}

.content p {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 28px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 22px;
  border-radius: 14px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

.btn.primary {
  background: #2563eb;
  color: #ffffff;
}

.btn.primary:hover {
  background: #1d4ed8;
}

.btn.ghost {
  border: 2px solid #2563eb;
  color: #fefefe;
}

.btn.ghost:hover {
  background: #2563eb;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 60px 40px;
  background: #ffffff;
}

.feature {
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  text-align: center;
}

.feature h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #111827;
}

.feature p {
  color: #6b7280;
  font-size: 15px;
}

@media (max-width: 900px) {
  .features {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }

  .content h1 {
    font-size: 32px;
  }
}
